.section_heading_wrapper h2.title {
    margin-bottom: 25px;
}

.section_heading_wrapper .content {
    margin-bottom: 35px;
}


@media(max-width:1199px) {
    .section_heading_wrapper h2.title {
        font-size: 35px !important;
    }

}

@media(max-width:991px) {

    .section_heading_wrapper.text-left,
    .section_heading_wrapper.text-right {
        text-align: center !important;
    }

    .section_heading_wrapper h2.subtitle {
        margin-bottom: 5px;
    }

}

@media(max-width:767px) {
    .section_heading_wrapper h2.title {
        font-size: 28px !important;
    }

}